include inmanta_plugins/test_partial/setup.cfg
include inmanta_plugins/test_partial/py.typed
recursive-include inmanta_plugins/test_partial/model *.cf
graft inmanta_plugins/test_partial/files
graft inmanta_plugins/test_partial/templates
